.header-hero {
    background: rgba(87, 174, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.53) 0px 10px 50px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.header-hero .App-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-hero .logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-hero .logo .logo-image {
    width: 100px; /* Размер логотипа */
    margin-right: 10px;
}

.header-hero .nav-links,
.header-hero .auth-links {
    display: flex;
    gap: 20px;
}

.header-hero a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}





.header-hero-d {
    background: rgb(237, 237, 237);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.53) 0px 10px 50px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.header-hero-d .App-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-hero-d .logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.header-hero-d .logo .logo-image {
    width: 100px;
    margin-right: 10px;
}

.header-hero-d .nav-links,
.header-hero-d .auth-links {
    display: flex;
    gap: 20px;
}

.header-hero-d a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.cta-button-d {
    background-color: rgba(94, 94, 94, 0);
    color: #2b2b2b;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: #686868;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    transition: background 0.3s;
}

.cta-button-d:hover {
    background-color: #686868;
    color: white;
}