/* Общие стили */

.header-hero,
.header-hero-d {
    background: rgba(87, 174, 255, 0.85);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.53) 0px 10px 50px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.header-hero-d {
    background: rgb(237, 237, 237);
}

.header-hero .App-nav,
.header-hero-d .App-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-hero .logo,
.header-hero-d .logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-hero-d .logo {
    color: black;
}

.header-hero .logo .logo-image,
.header-hero-d .logo .logo-image {
    width: 100px;
    margin-right: 10px;
}

.header-hero .auth-links,
.header-hero-d .auth-links {
    display: flex;
    gap: 20px;
}

.header-hero a,
.header-hero-d a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.header-hero-d a {
    color: black;
}

.cta-button-d {
    background-color: rgba(94, 94, 94, 0);
    color: #2b2b2b;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: #686868;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    transition: background 0.3s;
}

.cta-button-d:hover {
    background-color: #686868;
    color: white;
}

/* Медиа-запросы для маленьких экранов */

@media (max-width: 768px) {
    /* Скрываем текстовое название сайта */
    .header-hero .logo span,
    .header-hero-d .logo span {
        display: none;
    }

    /* Скрываем кнопку регистрации */
    .header-hero .auth-links .cta-button:nth-child(2) {
        display: none;
    }

    /* Логотип центрируется без текста */
    .header-hero .logo,
    .header-hero-d .logo {
        justify-content: center;
    }
}
