/* Удалите стили для .header-hero и .App-nav из Home.css, так как они уже есть в Header.css */

.cta-button {
    background-color: rgba(94, 94, 94, 0);
    color: white;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: #ffffff;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    transition: background 0.3s;
}

.cta-button:hover {
    background: #ffffff;
    color: black;
}

.features {
    margin-top: 40px;
}

.features h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.feature-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-cards h3 {
    color: white;
}

.feature-card {
    background: rgba(24, 112, 197, 0.8);
    backdrop-filter: blur(50px);
    padding: 50px;
    padding-top: 100px;
    border-radius: 20px;
    max-width: 495px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.feature-cards p {
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.banner {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0;
    padding: 100px;
    backdrop-filter: blur(10px);
    text-align: left;
    color: white;
    animation: fadeIn 1.5s ease-in-out;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #26a7fb;
    max-width: 61.5%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.banner.visible {
    opacity: 1;
    transform: translateY(0);
}

.banner img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    margin-left: 20px;
    transition: transform 0.5s ease;
    position: relative;
}

.banner-content {
    max-width: 100%;
}

.banner-content h3 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.banner-button {
    background: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.banner-button:hover {
    background: #ffffff;
    color: black;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    padding: 20px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 50px 50px 300px;
}

/* Остальные стили */
.balance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; /* Увеличить размер */
    /background-color: white;
    border-radius: 50px;
    margin: 30px; /* Увеличить размер */
    width: calc(100% - 60px); /* Увеличить размер */
}

.balance-container h1 {
    font-size: 2.5rem; /* Увеличить размер */
    margin-bottom: 20px; /* Увеличить размер */
    color: black;
}

.balance-container p {
    font-size: 3.5rem; /* Увеличить размер */
    margin-bottom: 30px; /* Увеличить размер */
    color: black;
}

.balance-button, .wallet-button, .view-all-button {
    background-color: rgba(94, 94, 94, 0);
    color: #2b2b2b;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: #686868;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    transition: background 0.3s;
}

.topup-button, .create-invoice-button, .transfer-button{
    background-color: rgba(94, 94, 94, 0);
    color: #2b2b2b;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: #686868;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    transition: background 0.3s;
}

.balance-button:hover, .wallet-button:hover, .view-all-button:hover {
    background-color: rgba(0, 129, 234, 1);
    border-color: rgba(0, 129, 234,1);
    color: white;
}

.topup-button:hover, .create-invoice-button:hover, .transfer-button:hover{
    background-color: #686868;
    color: white;
}

.actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}

.transaction-history, .invoice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; /* Увеличить размер */
    background-color: rgba(198, 198, 198, 0.21);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
    margin: 30px; /* Увеличить размер */
    width: calc(75% - 30px); /* Увеличить размер */
}

.transaction-history h2, .invoice-container h2 {
    font-size: 2rem; /* Увеличить размер */
    margin-bottom: 20px; /* Увеличить размер */
    color: black;
    text-align: center;
}

.invoice-container p {
    color: #000;
    font-size: 1.3rem;
}

.transaction-history ul, .invoice-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}


.transaction-history li, .invoice-list li {
    display: flex;
    justify-content: space-between;
    padding: 15px; /* Увеличить размер */
    font-size: 1.5rem; /* Увеличить размер */
    margin-bottom: 7.5px; /* Увеличить размер */
    border-bottom: 1px solid #ddd;
    color: black;
}

.transaction-history li.successful.replenishment {
    color: #48bc48;
}

.transaction-history li.failed.replenishment, .transaction-history li.successful.transfer, .transaction-history li.failed.transfer, .transaction-history li.successful.payment, .transaction-history li.failed.payment {
    color: #e65252;
}

.transaction-history span, .invoice-list span {
    margin-right: 15px; /* Увеличить размер */
}

.pay-button {
    background-color: rgba(54, 205, 42, 0.58);
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
}

.pay-button:hover {
    background-color: rgba(54, 205, 42, 0.72);
}

.transfer-banner, .create-invoice-banner, .topup-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /justify-content: center;
    padding: 20px;
    background-color: #E4E4E4FF;
    border-radius: 50px;
    /box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 302px; /* Установите фиксированную высоту */
    text-align: center;
    width: calc(50% - 20px);
    align-self: flex-end; /* Выровнять вправо */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.transfer-banner:hover, .create-invoice-banner:hover, .topup-banner:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}

.create-invoice-banner {
    background-color: rgba(131, 169, 213, 0.24);
}

.topup-banner {
    background-color: rgba(170, 149, 188, 0.27);
}

.transfer-banner h2, .create-invoice-banner h2, .topup-banner h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: black;
    /backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px;
}

.transfer-banner.small, .create-invoice-banner.small, .topup-banner.small {
    width: calc(50% - 20px);
}

.transfer-banner {
    background-image: url('../assets/images/transfer.png'); /* Путь к изображению для перевода */
}

.create-invoice-banner {
    background-image: url('../assets/images/invoice.png'); /* Путь к изображению для создания счета */
}

.topup-banner {
    background-image: url('../assets/images/topup.png'); /* Путь к изображению для пополнения */
}

.main-container {
    background-image: url('../assets/images/back2.jpg');
}

.greeting {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s ease-in-out;
}

.greeting h1 {
    font-size: 4rem;
    padding: 150px;
}






