.registration-container {
    background: rgba(87, 174, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    max-width: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.53) 0px 10px 50px;
}

.registration-container h2 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.registration-container label {
    display: block;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.registration-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.8);
}

.registration-container button {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
}

.registration-container button:disabled {
    background: #cccccc;
    cursor: default;
}

.registration-container button:hover {
    background: #ffffff;
}

.spinner {
    border: 4px solid rgba(87, 174, 255, 0.85); /* Основной цвет фона кольца */
    border-radius: 50%; /* Сделать элемент круглым */
    border-top: 4px solid #02023a; /* Цвет верхней части кольца */
    width: 24px; /* Ширина кольца */
    height: 24px; /* Высота кольца */
    animation: spin 1s linear infinite; /* Анимация вращения */
    margin-right: 10px; /* Отступ справа от текста */
    display: inline-block; /* Чтобы элементы выстраивались в ряд */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .registration-container{
        margin: 100px 20px;
    }
}
