
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #02023a, #0b0b6e, #053f7c);
  color: white;
  font-family: 'Arial', sans-serif;
}

.App-d {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #c3c3c3, #e1e1e1, #ffffff);
  color: white;
  font-family: 'Arial', sans-serif;
}

.header-hero-dub {
  background: rgba(87, 174, 255, 0.85);
  backdrop-filter: blur(10px);
  padding: 30px 250px;
  border-radius: 20px;
  margin-top: 80px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.53) 0px 10px 50px;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.header-hero-dub h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 20px;
}

.header-hero-dub p {
  font-size: 1.5rem;
  color: #dcdcdc;
  margin-bottom: 30px;
}

.header-hero-dub .cta-button {
  background: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;
}


.App-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-nav .logo {
  font-size: 2.5rem;
  font-weight: bold;
}

.App-nav .nav-links,
.App-nav .auth-links {
  display: flex;
  gap: 20px;
}

.App-nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}


.feature-cards {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature-card {
  background: rgba(24, 112, 197, 0.8);
  backdrop-filter: blur(50px);
  padding: 50px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #26a7fb;
  max-width: 495px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card h3 {
  font-size: 1.8rem;
}

.feature-card p {
  font-size: 1.2rem;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px;
}



.features {
  margin-top: 40px;
}

.features h2 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-top: 40px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.info-sections {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 100px;
  background: rgba(87, 174, 255, 0.85);
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
  animation: fadeIn 1.5s ease-in-out;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #26a7fb;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  max-width: 100%;
}

.info-section img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-right: 20px;
  transition: transform 0.5s ease;
  position: relative;
}

.info-section img:hover {
  transform: rotate(5deg);
}

.info-section img:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
  background-size: 200%;
}

.info-section .text {
  max-width: 1000px;
}

.info-section .text h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.info-section .text p {
  font-size: 1.8rem;
}

/* Появление info-section при прокрутке */
.info-section.visible {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-top: 1px solid #ddd;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links, .footer-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-links a, .footer-contact a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.footer-links a:hover, .footer-contact a:hover {
  text-decoration: underline;
}

.footer-contact p {
  margin: 0 10px;
  color: #333;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  height: 30px;
  margin-right: 10px;
}

.footer-social a {
  margin: 0 10px;
}

.footer-social img {
  height: 30px;
}

.footer-bottom a {
  text-decoration: none;
  color: #333;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
